/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 200px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


body {
  background-color: #000000;
  color: white;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#title {
  size: 100vw;
}

#loading {
  visibility: hidden;
}

audio{
  visibility: hidden;
  position:absolute;
}

.videos{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;  
  margin: auto;
  height: auto;
  width: auto;
}
.videos.active {
  visibility: visible;
  opacity: 1;
}


.videoChar{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  height: auto;
  width: 100vw;
}




#lastElementChar{
  margin: auto;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#charSelectionContainer{
  width: 10vw;
}

#postionOfText {
  position: relative;
  margin: 20px;
  z-index: 1;
}

#chosenCharacterName {
   z-index: 1;
  margin: 20px;
  position: absolute;
  margin-left: 10%;
  font-size: 3em;
  left: -30vw;
}

#pressXButtonToJoin {
  z-index: 1;
  margin: 20px;
  position: relative;
  font-size: 3em;
  right: -68%;

}

#AllCharacters{
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  position: relative ;
  width: 55%;
  position:fixed;
  bottom: 0;
  left: 3%;
  z-index: 999;
}

/* have the size of #AllCharacters adjust to the window size */

#characterBox{
  display: flex;
  height: 50%;
  position:relative;
  padding: 20px, 0, 20px, 0;
}
#characterBox2{
  display: flex;
  height: 50%;
  padding: 20px, 0, 20px, 0;
  position:relative;
  justify-content: space-between;

}

.charImage {
  height: 10vw;
  width: 10vw;
  margin: 1px;
}

.characters {
  list-style-type: none;  
  height: 10%;
  width: 20%;
}
 
.charName {
  font-size: 2em;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}


/* Responsiveness */
/* ============================ */

/* Mobile */

/* @media screen and (min-width: 0) and (max-width: 768px) { 

	h1 { font-size: 9vw; padding: 2vh 0; }
	h2 { font-size: 7vw; }
	p  { font-size: 4vw; }
} */
  
/* Tablet */

/* @media screen and (min-width: 642px) and (max-width: 800px) { 

  body {
    width: 100%;
    height: 10%;
  }

	h1 { font-size: 7vw; padding: 2vh 0; }
	h2 { font-size: 5vw; }
	p  { font-size: 3vw; }
} */

/* Desktop */

/* @media screen and (min-width: 800px) and (max-width: 1000px) { 
  #defaultBackgroundVideo {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  
    float: left;
    clear: both;  
    border: 3px solid orange;
    
    margin: auto;
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 30%;
    height: 100vh;
    width: 10vh;
    width: 250%;
  }  
} */

/* html {
  contain: size;
  contain-intrinsic-width: 100vw auto;
} */

